@import "../../Styling/variables.module";
@import "../../Styling/mixins.module";
@import "../../Styling/reset.module";

.card-container {
    width: 315px;

    margin-bottom: 20px;
}

.header-img img {
    height: 177px;
    width: 100%;
    object-fit: cover;
}

.date {
    font-size: 1.2rem;
    font-weight: 600;

    padding-top: 11px;
}

.headline {
    font-weight: 600;
    font-size: 2rem;
    line-height: 110%;

    padding-top: 10px;
}

.text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 140%;

    height: 9rem;

    padding-top: 10px;
}

.link {
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 120%;

    color: $font-blue;

    padding-top: 1.3rem;
    padding-bottom: 3.7rem;
}

.link a {
    color: $font-blue;
}

// ? Media Queries
// Based on Bootstrap breakpoints

// * X-Small = Less than 576px - small mobile devices
@include x-small {
}

// * Small = Less than 768px - mobile devices
@include small {
}

// * Medium = Less than 992px - tablets
@include medium {
}

// * Large = Less than 1200px - small desktops
@include large {
    .card-container {
        width: 347px;
    }

    .header-img img {
        width: 347px;
        height: 195px;
        object-fit: cover;
    }
}

// * Extra Large = Less than 1399px - medium desktops
@include extra-large {
    .card-container {
        width: 347px;
    }

    .header-img img {
        width: 347px;
        height: 195px;
        object-fit: cover;
    }
}

// * Extra EXTRA Large = More than 1400px - medium desktops
@include extra-extra-large {
    .card-container {
        width: 347px;
    }

    .header-img img {
        width: 347px;
        height: 195px;
        object-fit: cover;
    }
}
