//  Color Palette

$background-blue: #e7f6fd;
$background-white: #ffffff;

// Font Colors
$font-blue: #038abf;
$font-black: #222222;
$font-grey: #818181;

// Font Family
$font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

//  Font variables
$font-weight-heading: "wght" 600, "GRAD" 88;
$font-weight-normal: "wght" 400;
